{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<ul class="list-group-flush mt-3">
    <li class="list-group-item col-md-8 offset-2 pt-3">
        <h1>{{post.post.titulo}}</h1>
        <h2>Autor: {{ post.post.autor }}</h2>
        {{post.post.texto}}<br>

        <br><br><br>
        <h2 class="mt-3">Comentários:</h2><hr>
        {% for comentario in comentarios %}
            <h3>{{ comentario.autor}} </h3>
            <p class="ms-4">{{ comentario.texto }}</p>
        {% endfor %}
        
        <!-- Arthur Correia -->

        {% if user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group mt-3">
                    <legend class="border-bottom mb-4">Comente agora!</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Postar</button>
                </div>
            </form>
        {% endif %}
    </li>
</ul>
{% endblock content %}