{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<ul class="list-group-flush mt-3">
    <li class="list-group-item col-md-8 offset-2 pt-3">
        <h1>{{post.post.titulo}}</h1>
        <h2>Autor: {{ post.post.autor }}</h2>
        {{post.post.texto}}<br>
        {% if user.is_authenticated %}
            {% if user == post.post.autor %}
                <div class="mt-2">
                    <a href="{% url 'edit_post' post.pk %}" class="btn btn-sm btn-outline-primary">Editar</a>
                    <a href="{% url 'delete_post' post.pk %}" class="btn btn-sm btn-outline-danger">Excluir</a>
                </div>
            {% endif %}
        {% endif %}
        <br><br><br>
        <h2 class="mt-3">Comentários:</h2><hr>
        {% for comentario in comentarios %}
            <h3>{{ comentario.autor}} </h3>
            <p class="ms-4">{{ comentario.texto }}</p>
        {% endfor %}


        {% if user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Comente agora!</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Postar</button>
                </div>
            </form>
        {% endif %}
    </li>
</ul>
{% endblock content %}