{% extends 'blog/base.html' %}
{% block content %}
<ul class="list-group-flush mt-3">
    {% for post in posts %}
    <li class="list-group-item col-md-8 offset-2 pt-3">
        <h1><a href="{% url 'detail_post' post.pk %}"> {{post.titulo}}</a> </h1> 
        <h2>Autor: {{ post.autor }}</h2>
        {{post.texto}}<br>
        {% if user.is_authenticated %}
            {% if user == post.autor %}
                <div class="mt-2">
                    <a href="{% url 'edit_post' post.pk %}" class="btn btn-sm btn-outline-primary">Editar</a>
                    <a href="{% url 'delete_post' post.pk %}" class="btn btn-sm btn-outline-danger">Excluir</a>
                </div>
            {% endif %}
        {% endif %}
        <hr>
    </li>
    {% endfor %}
</ul>
{% endblock content %}