<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for heroi in herois %}
        <div class="col-md-4">
            <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ heroi.username }}</h5>
                <p class="card-text">{{ heroi.poderes }}</p>
                <small class="text-muted">{{ heroi.cidade }}</small>
            </div>
            </div>
        </div>
    {% endfor %}
</body>
</html>